<%- include partials/header.ejs %> 
 <%- include partials/main_nav.ejs %>

  <h1>Welcome to <%= title %></h1>
  <h2>HAHAHAHA <%= title %></h2>
  <h2>HEHEHEHE to <%= title %></h2>


  <%- include partials/footer.ejs %> 
  <%- include partials/bottom_nav.ejs %> 
